version: "3.8"

services:
  homeassistant:
    image: ghcr.io/home-assistant/raspberrypi4-homeassistant:stable
    container_name: homeassistant
    volumes:
      - {{ homeassistant_config_path }}:/config
      - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped
    privileged: true
    networks:
      - server_network
    ports:
      - 8123:8123
    environment:
        DISABLE_JEMALLOC: 1

  esphome:
    image: esphome/esphome:latest
    container_name: esphome
    volumes:
      - {{ esphome_config_path }}:/config
      - {{ ha_server_container_stack_location }}/esphome/cache:/cache
      - /etc/localtime:/etc/localtime:ro
    networks:
      - server_network
    ports:
      - 6052:6052
    restart: unless-stopped
    privileged: true

networks:
  server_network:
    external:
      name: {{ docker_network_name }}