version: "3.8"

services:
  homeassistant:
    image: ghcr.io/home-assistant/raspberrypi4-homeassistant:stable
    container_name: homeassistant
    volumes:
      - {{ homeassistant_config_path }}:/config
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro
      - /dev/bus/usb:/dev/bus/usb
    restart: unless-stopped
    privileged: true
    network_mode: host
    environment:
        DISABLE_JEMALLOC: 1

  esphome:
    image: esphome/esphome:latest
    container_name: esphome
    volumes:
      - {{ esphome_config_path }}:/config
      - {{ ha_server_container_stack_location }}/esphome/cache:/cache
      - /etc/localtime:/etc/localtime:ro
    network_mode: host
    restart: unless-stopped
    privileged: true

  scrypted:
    container_name: scrypted
    image: koush/scrypted:latest
    environment:
      - SCRYPTED_WEBHOOK_UPDATE_AUTHORIZATION=Bearer 81674931065847170175967965216021
      - SCRYPTED_WEBHOOK_UPDATE=http://localhost:10444/v1/update
    volumes:
      - /var/run/dbus:/var/run/dbus
      - /var/run/avahi-daemon/socket:/var/run/avahi-daemon/socket
      - {{ scrypted_config_path }}:/server/volume
    network_mode: host
    restart: unless-stopped
    logging:
        driver: "json-file"
        options:
            max-size: "10m"
            max-file: "10"

  influxdb:
    container_name: influxdb
    image: influxdb:latest
    environment:
      - TZ={{ server_timezone }}
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME={{ ui_login_admin_username }}
      - DOCKER_INFLUXDB_INIT_PASSWORD_FILE=/run/secrets/influxdb_admin_password
      - DOCKER_INFLUXDB_INIT_ORG={{ influxdb_org_name }}
      - DOCKER_INFLUXDB_INIT_BUCKET={{ influxdb_bucket_name }}
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN={{ influxdb_api_token }}
    restart: unless-stopped
    network_mode: host
    volumes:
      - {{ influxdb_config_path }}:/var/lib/influxdb
      - /etc/localtime:/etc/localtime:ro
    secrets:
      - influxdb_admin_password

  grafana:
    container_name: grafana
    image: grafana/grafana:latest
    depends_on:
      - influxdb
    environment:
      - TZ={{ server_timezone }}
      - GF_SECURITY_ADMIN_USER={{ ui_login_admin_username }}
      - GF_SECURITY_ADMIN_PASSWORD_FILE=/run/secrets/grafana_admin_password
    restart: unless-stopped
    user: "{{ server_data_user_uid }}"
    network_mode: host
    volumes:
      - {{ grafana_config_path }}:/var/lib/grafana
      - /etc/localtime:/etc/localtime:ro
    secrets:
      - grafana_admin_password

secrets:
   influxdb_admin_password:
     file: "{{ influxdb_password_path }}/admin_password.txt"
   grafana_admin_password:
     file: "{{ grafana_password_path }}/admin_password.txt"
