services:
  homeassistant:
    image: homeassistant/home-assistant:stable
    container_name: homeassistant
    volumes:
      - {{ homeassistant_config_path }}:/config
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro
      - /dev/bus/usb:/dev/bus/usb
      - /home/{{ server_data_dir_user }}/.ssh:/root/.ssh:ro
    restart: unless-stopped
    privileged: true
    network_mode: host
    environment:
        DISABLE_JEMALLOC: 1

  music-assistant-server:
    image: ghcr.io/music-assistant/server:2.7.0b15
    container_name: musicassistant
    restart: unless-stopped
    network_mode: host
    volumes:
      - {{ musicassistant_data_path }}:/data/
      - /etc/localtime:/etc/localtime:ro
    cap_add:
      - SYS_ADMIN
      - DAC_READ_SEARCH
    security_opt:
      - apparmor:unconfined
    environment:
      - LOG_LEVEL=info

  bgutil-provider:
    image: brainicism/bgutil-ytdlp-pot-provider:1.2.1
    container_name: bgutil-provider
    network_mode: host
    init: true
    restart: unless-stopped

  evcc:
    image: evcc/evcc:latest
    container_name: evcc
    command:
      - evcc
    user: "{{ server_data_user_uid }}:{{ server_data_group_gid }}"
    environment:
      - TZ={{ server_timezone }}
      - EVCC_DATABASE_DSN=/data/evcc.db
    volumes:
      - {{ evcc_data_path }}:/data
      - /etc/localtime:/etc/localtime:ro
    network_mode: host
    restart: unless-stopped

  esphome:
    image: esphome/esphome:latest
    container_name: esphome
    volumes:
      - {{ esphome_config_path }}:/config
      - {{ ha_server_container_stack_location }}/esphome/cache:/cache
      - /etc/localtime:/etc/localtime:ro
    devices:
      - /dev/ttyUSB0:/dev/ttyUSB0
    network_mode: host
    restart: unless-stopped
    privileged: true

  influxdb:
    container_name: influxdb
    image: influxdb:2.8.0
    environment:
      - TZ={{ server_timezone }}
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME={{ ui_login_admin_username }}
      - DOCKER_INFLUXDB_INIT_PASSWORD_FILE=/run/secrets/influxdb_admin_password
      - DOCKER_INFLUXDB_INIT_ORG={{ influxdb_org_name }}
      - DOCKER_INFLUXDB_INIT_BUCKET={{ influxdb_bucket_name }}
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN={{ influxdb_api_token }}
    restart: unless-stopped
    user: "{{ server_data_user_uid }}:{{ server_data_group_gid }}"
    network_mode: host
    volumes:
      - {{ influxdb_config_path }}:/var/lib/influxdb2
      - {{ influxdb_etc_path }}:/etc/influxdb2
      - /etc/localtime:/etc/localtime:ro
    secrets:
      - influxdb_admin_password

  grafana:
    container_name: grafana
    image: grafana/grafana:latest
    depends_on:
      - influxdb
    environment:
      - TZ={{ server_timezone }}
      - GF_SECURITY_ADMIN_USER={{ ui_login_admin_username }}
    restart: unless-stopped
    user: "{{ server_data_user_uid }}"
    network_mode: host
    volumes:
      - {{ grafana_config_path }}:/var/lib/grafana
      - {{ grafana_provisioning_path }}:/etc/grafana/provisioning
      - /etc/localtime:/etc/localtime:ro

  mosquitto:
     container_name: mosquitto
     image: eclipse-mosquitto:latest
     volumes:
       - {{ mosquitto_config_path }}/config:/mosquitto/config
       - {{ mosquitto_config_path }}/data:/mosquitto/data
       - {{ mosquitto_config_path }}/log:/mosquitto/log
     user: "{{ server_data_user_uid }}"
     network_mode: host
     restart: unless-stopped

secrets:
   influxdb_admin_password:
     file: "{{ influxdb_password_path }}/admin_password.txt"
