apiVersion: 1

# Managed by Ansible. Datasources provisioned here cannot be edited in the
# Grafana UI - change this template and re-run the playbook instead.

# Removes the datasource that was created by hand before provisioning existed.
deleteDatasources:
  - name: InfluxDB
    orgId: 1

datasources:
  - name: Home Assistant
    uid: influxdb-home-assistant
    type: influxdb
    access: proxy
    url: http://localhost:8086
    isDefault: true
    editable: false
    jsonData:
      version: Flux
      organization: {{ influxdb_org_name }}
      defaultBucket: {{ influxdb_bucket_name }}
      httpMode: POST
    secureJsonData:
      token: {{ influxdb_grafana_token }}

  - name: EVCC
    uid: influxdb-evcc
    type: influxdb
    access: proxy
    url: http://localhost:8086
    isDefault: false
    editable: false
    jsonData:
      version: Flux
      organization: {{ influxdb_org_name }}
      defaultBucket: {{ influxdb_evcc_bucket_name }}
      httpMode: POST
    secureJsonData:
      token: {{ influxdb_grafana_token }}
